@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*---------------Colors*/

.ui-menu-color-home {
    background-color: #4A4A4F;
}

.ui-menu-color-listen {
    background-color: #5C5C63;
}

.ui-menu-color-watch {
    background-color: #80818B;
}

.ui-menu-color-booking {
    background-color: #A5A6B2;
}

.bg-color-news {
    background-color: #D6DBDF;

}

.bg-color-upcoming-shows {
    background-color: #696969;
}

.bg-color-listen {
    background-color: #D6DBDF
}

/*---------------Header*/







.header-image {
    margin: 0;
    padding: 0;
}



.logo {
    background: url("../images/monkeessm.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}


/* Alert */

/*.alert-container {
    height: 20px;
}
*/

.alert-warning .alert-link {
    color: white;
}

.alert-header {
     padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;    
}

.alert-container .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    color: lightgray;
    background-color: #80818B;
    border-color: #80818B;
    padding: 5px 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
}


/*--------------------------Navbar*/

#nav {
    margin: 0;
}



.menuitem {
    height: 50px;
    text-align: center;
    font-weight: bold;

}

.menuitem a {
    text-decoration: none;
    color: #FAFCFE;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;


}

/*.col-md-12, .col-md-8 {
    min-height: 0px;
}
*/

/*--------------------------------------------Hover.css*/

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/*-------------------------------------------News Section*/

.main-content {
    margin: 0;
    padding: 0;

.codeinstitute {
    
    background-color: black
    size: 100px;
    position: left;
    margin-bottom: 0;
    margin: 0;
    background: relative;
    width: 0;
    display: relative;
    
   
}

}

.news {

    margin: 20px 20px 20px 20px;
    min-height: 628px;

}

.news-item {
    float: right;
    width: 200px;
    padding: 5px;
    height: 200px;
    display: block;
    

}

.news-header {
    margin: 20px;
}


.news-section {

    min-height: 250px;
}

/*--------------------------------------------Audio Section*/

.listen {
    min-height: 691px;
    text-align: center;
}

.audiofile {
    padding: 15px;
}


.audio-image {
    padding: 10px;
    height: 200px;
    margin: 32px;

}

.audio-section {
    padding-bottom: 1em;
}

/*--------------------------------------------Watch Section*/

.video {
    text-align: center;
    padding-bottom: 50px;
   /* min-height: 701px;*/
           padding: 10px 0 50px 0;
               margin-bottom: 45px;



}

/*--------------------------------------------Booking Section*/

.booking {
    min-height: 681px;
    text-align: center;
    margin: 20px;

}

.booking-header {
    text-align: center;
    padding: 20px;
}

/*--------------------------------------------Upcoming shows*/

.upcoming-shows {
    color: #fafafa;
    padding-bottom: 3em;
    padding-right: 2em;
    min-height: 721px;
}

.shows-header {
    text-align: right;
    padding-right: 0.7em;
    padding-bottom: 1em;
}



.timeline-item {
    padding: 4em 3em 0em 1em;
    margin-right: 20px;
    position: relative;
    border-right: 1px solid;
    text-align: right;
    

}

.timeline-item p {
    padding: 0;
    margin: 0;
}


.timeline-item::before {

    content: attr(dates);
    display: block;
    top: 3em;
    margin: 0;
    padding: 0;
}

.timeline-item::after {

    width: 12px;
    height: 12px;
    display: block;
    top: 4em;
    position: absolute;
    right: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

/*--------------------------------------------Footer*/

footer {
    background-color: #25292D;
    color: #F5F9FD;
    margin: 0;

}


.general-sub {
    padding-top: 10px;
    text-align: center;

}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

form {
    padding-top: 20px;
    text-align: center;

}


.uppercase {
    text-transform: uppercase;
}

.form-group{
   color: gray; 
}


/*-------------------------------------------Media Queries*/

@media only screen and (max-width: 1100px) {

.video {
      min-height: 200px;
    height: 410px;
    width: auto;
    display: inline-block;
    margin-bottom: 180px;


}
}

@media only screen and (max-width: 667px) {

.video {
      min-height: 200px;
    height: 240px;
    width: auto;
    display: inline-block;


}
}


@media only screen and (min-width: 1400px) {
    .logo {
        min-height: 800px;

    }
}


@media only screen and (max-width: 920px) {
    .logo {
    min-height: 400px;
    }
}

@media only screen and (max-width: 667px) {
    .logo {
    min-height: 200px;
    }
    
    .audio {
            width: 255px;

}

}

